body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
}

.game-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.game-container {
    background: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.game-banner {
    width: 100%;
    border-radius: 10px;
}

.download-button {
    margin-top: auto;
    width: 150px;
    cursor: pointer;
}

.disclaimer {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}